.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6e5e4;
    padding: 1rem;
    color: black;
  
    .logo {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      list-style: none;
      padding: 0;
  
      a {
        color: rgb(22, 22, 22);
        text-decoration: none;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
  
      .nav-links {
        flex-direction: row;
        gap: 1.5rem;
      }
  
      .logo {
        margin-bottom: 0;
      }
    }
  }
  